<md-toolbar color="primary">
    <span>Svenska meningar</span>
    <span class="app-toolbar-filler"></span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu x-position="before" #menu="mdMenu">
        <button *ngIf="loggedIn" md-menu-item (click)="logout()">Logout</button>
        <button *ngIf="!loggedIn" md-menu-item (click)="login()">Login</button>
    </md-menu>
</md-toolbar>

<md-card *ngIf="loggedIn">
    <md-card-title>Välkommen {{displayName}}</md-card-title>
    <md-card-content>
        <ul>
            <li *ngFor="let mening of meningar | async">
                {{ mening.$value }}
            </li>
        </ul>
        <md-card-actions>

        </md-card-actions>
    </md-card-content>
</md-card>

<pre *ngIf="false">
{{(user.auth | async)?.uid }}
{{af.auth | async | json}}
{{user.auth | json}}
</pre>