<md-toolbar color="primary">
    <img src="assets/flagga.jpg" class="flagga">
    <span class="appTitle">Svenska meningar</span>
    <span class="app-toolbar-filler"></span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu x-position="before" #menu="mdMenu">
        <button *ngIf="dataBaseService.loggedIn" md-menu-item (click)="dataBaseService.logout()">Logout</button>
    </md-menu>
</md-toolbar>

<router-outlet></router-outlet>

<!--<pre *ngIf="false">
{{(user.auth | async)?.uid }}
{{af.auth | async | json}}
{{user.auth | json}}
</pre>-->